<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:workday="http://www.mulesoft.org/schema/mule/workday" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

	<configuration-properties file="mule-artifact.properties"
		doc:name="Configuration properties" doc:id="46877740-aac5-4812-8728-4718689aa9ec" />
	<configuration-properties file="common.properties"
		doc:name="Configuration properties" doc:id="dffa4da7-cc5c-4ecb-922e-1115b4387354" />
	<configuration-properties file="mule.${mule.env}.properties"
		doc:name="Configuration properties" doc:id="674beef8-9485-40a7-99b9-0685c9b7e863" />

	<workday:config name="Workday_Config" doc:name="Workday Config"
		doc:id="81500429-c0f8-40a3-9a92-e064ca4a2adb">
		<workday:basic-connection username="${wday.username}"
			password="${wday.password}" tenantName="${wday.tenant}" hostName="${wday.host}">
			<workday:transport>
				<workday:default-http-dispatcher-provider />
			</workday:transport>
		</workday:basic-connection>
	</workday:config>

	<salesforce:sfdc-config name="Salesforce_Config"
		doc:name="Salesforce Config" doc:id="12783a85-a403-4e74-834e-da971ecb68aa">
		<salesforce:basic-connection username="${sfdc.username}"
			password="${sfdc.password}" securityToken="${sfdc.securityToken}" />
	</salesforce:sfdc-config>

</mule>


        